:root {
	--hauptFarbe: #04b;
	--randAbstand: 1.5rem;
}

* {
	margin: 0;
	padding: 0;
	color: black;
	background-color: transparent;
	font: 1rem "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

html {
	font-size: 100%;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

main {
	width: calc( 100% - var( --randAbstand ) * 2 );
	margin: 0 auto;
}


.header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 var( --randAbstand );
}

.hauptnavigation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var( --hauptFarbe );
	visibility: hidden;
	opacity: 0;
	transition: 0.25s;
}

.sichtbar {
	visibility: visible;
	opacity: 1;
}

/* --------------------------------------- */
/* Hamburger */
.hamburger {
	width: 1.5rem;
	height: 1.5rem;
	display: block;
	position: relative;
}
.navigation-offen .oberer-balken {
	transform: translate( -50%, -50% ) rotate( 45deg );
}
.navigation-offen .unterer-balken {
	transform: translate( -50%, -50% ) rotate( -45deg );
}


.balken {
	display: block;
	height: 0.25rem;
	width: 100%;
	background-color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -0.375rem );
	transition: 0.25s;
}
.unterer-balken {
	transform: translate( -50%, 0.375rem );
}


/**
 * Portfolio
 */
.portfolio {
	list-style-type: none;
	margin: 2rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
}








